force-app/main/default/flows/AttemptBypassFlowFromApex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ShouldBypass</name>
        <label>ShouldBypass</label>
        <locationX>684</locationX>
        <locationY>370</locationY>
        <actionName>FlowTriggerBypass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decide_Bypass_This_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstFlowNames</name>
            <value>
                <elementReference>thisFlowName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowTriggerBypass</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>markFlowTriggered</name>
        <label>markFlowTriggered</label>
        <locationX>489</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.TriggeredField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FlowTriggered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rec</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>thisFlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AttemptBypassFlowFromApex</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decide_Bypass_This_Flow</name>
        <label>Decide Bypass This Flow</label>
        <locationX>678</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>markFlowTriggered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue with Flow</defaultConnectorLabel>
        <rules>
            <name>Bypass_Flow_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldBypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AttemptBypassFlowFromApex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AttemptBypassFlowFromApex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Rec</name>
        <label>Update Rec</label>
        <locationX>608</locationX>
        <locationY>753</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>560</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>ShouldBypass</targetReference>
        </connector>
        <object>BypassFlow__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BypassFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
